@media (min-width: 320px) and (max-width: 426px) {
    body {
        background: #0C0A09;
    }

    .main-1 {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .main-1_gif {
        width: 100vw;
        height: auto;
        grid-area: 1/1/2/2;
        justify-self: center;
    }

    .main-1_text {
        grid-area: 2/1/3/2;
        display: grid;
    }

    .main-1_text>h2 {
        color: #E3EDEE;
        font-family: Impact;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        grid-area: 1/1/2/2;
        justify-self: center;
    }

    .main-1_p>p {
        color: #FFF;

        font-family: "Nunito Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-self: center;

    }

    .main-1_p {
        grid-area: 2/1/3/2;
        justify-self: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }
}

@media (min-width: 426px) and (max-width: 769px) {
    body {
        background: #0C0A09;
    }

    .main-1 {
        padding-top: 44px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .main-1_gif {
        width: 45vw;
        height: auto;
        grid-area: 1/1/2/2;
        padding-left: 2vw;
    }

    .main-1_text {
        padding-left: 1vw;
        grid-area: 1/2/2/3;
        display: grid;
        width: 45vw;
        padding-right: 2vw;
    }

    .main-1_text>h2 {
        color: #E3EDEE;
        font-family: Impact;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        grid-area: 1/1/2/2;
    }

    .main-1_p>p {
        color: #FFF;

        font-family: "Nunito Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 45vw;


    }

    .main-1_p {
        grid-area: 2/1/3/2;
    }
}

@media (min-width: 769px) {
    body {
        background: #0C0A09;
        width: 100vw;
    }

    .dot1 {
        height: 25vw;
        width: 25vw;
        background-color: #919CB2;
        opacity: 25%;
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        position: absolute;
        top: 15vw;
        left: -15vw;
        filter: blur(120px);
    }

    .dot2 {
        height: 25vw;
        width: 25vw;
        background-color: #919CB2;
        opacity: 25%;
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        position: absolute;
        top: -15vw;
        left: 28vw;
        filter: blur(120px);
    }

    .dot3 {
        height: 35vw;
        width: 35vw;
        background-color: #A10B24;
        opacity: 50%;
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        position: absolute;
        top: -10vw;
        left: 75vw;
        filter: blur(120px);
        overflow: hidden;
        max-height: 100vh;
        max-width: 100vw;
        display: none;

    }

    .dot4 {
        height: 25vw;
        width: 25vw;
        background-color: #A10B24;
        opacity: 25%;
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        position: absolute;
        top: -15vw;
        left: 28vw;
        filter: blur(120px);
    }

    .main-1 {
        padding-top: 44px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .main-1_gif {
        width: 45vw;
        height: auto;
        grid-area: 1/1/2/2;
    }

    .main-1_text {
        padding-left: 15px;
        grid-area: 1/2/2/3;
        display: grid;
    }

    .main-1_text>h2 {
        color: #E3EDEE;
        font-family: Impact;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        grid-area: 1/1/2/2;
    }

    .main-1_p>p {
        color: #FFF;

        font-family: "Nunito Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;


    }

    .main-1_p {
        grid-area: 2/1/3/2;
        width: 435px;
    }

    .main-2 {
        width: 100%;
        height: 660px;
        display: grid;
        padding-top: 200px;

    }

    .main-2>.content {
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 850px;
        justify-self: center;
        align-self: center;
    }

    .content>.title {
        color: #E3EDEE;
        font-family: Impact;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        justify-self: center;
        text-align: center;
        grid-area: 1/1/2/2;
    }

    .content>.text {
        color: #FFF;
        justify-self: center;
        text-align: center;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        grid-area: 2/1/3/2;
        padding-top: 20px;
    }

    .content>.button {
        grid-area: 3/1/4/2;
        justify-self: center;
        margin-top: 20px;
        background-color: #A10B24;
        border-radius: 50px;
        border-color: #A10B24;
        padding: 12.5px 57px 12.5px 57px;
        color: #FFF;
        border-width: 0px;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        filter: drop-shadow(0px 8px 16px rgba(145, 156, 178, 0.25));
        transition: all 0.3s ease-out;
    }

    .content>.button:hover {
        margin-top: 12px;
        margin-bottom: 8px;
        background-color: #FF102F;
        border-color: #FF102F;
        padding: 12.5px 77px 12.5px 77px;
        filter: drop-shadow(0px 8px 16px rgba(145, 156, 178, 0.5));
    
    }

    .main-2>video {
        position: relative;
        width: 85%;
        height: 660px;
        top: 0;
        left: 0;
        object-fit: cover;
        justify-self: center;
    }

    .main-2>.layout {
        position: absolute;
        width: 85%;
        height: 660px;
        background: rgba(0, 0, 0.9, 0.75);
        justify-self: center;
    }

}